.app {
  max-width: 500px;
  margin: 0 auto;
}

.app h1 {
  text-align: center;
  margin-bottom: 1rem;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
  z-index: -1;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}


.background li:nth-child(0) {
  left: 80%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 1s;
}

.background li:nth-child(1) {
  left: 52%;
  width: 123px;
  height: 123px;
  bottom: -123px;
  animation-delay: 2s;
}

.background li:nth-child(2) {
  left: 74%;
  width: 140px;
  height: 140px;
  bottom: -140px;
  animation-delay: 3s;
}

.background li:nth-child(3) {
  left: 8%;
  width: 124px;
  height: 124px;
  bottom: -124px;
  animation-delay: 15s;
}

.background li:nth-child(4) {
  left: 89%;
  width: 171px;
  height: 171px;
  bottom: -171px;
  animation-delay: 18s;
}

.background li:nth-child(5) {
  left: 81%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 23s;
}

.background li:nth-child(6) {
  left: 33%;
  width: 118px;
  height: 118px;
  bottom: -118px;
  animation-delay: 13s;
}

.background li:nth-child(7) {
  left: 72%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 25s;
}

.background li:nth-child(8) {
  left: 84%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 4s;
}

.background li:nth-child(9) {
  left: 2%;
  width: 118px;
  height: 118px;
  bottom: -118px;
  animation-delay: 10s;
}